<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/style2.css">
</head>

<body>
  
  
  
  <aside class="profile-card">
    <header>
      <h2>Your Details</h2>
      <form action="#" method="post" class="hoverZoomLink">
        <label for="name">First Name :</label>
        <input type="text" name="name1" id="name1">

        <label for="name2">Last Name :</label>
        <input type="text" name="name2" id="name2">
         
        <label for="phoneno">Phone NO. :</label>
        <input type="number" name="phoneno" id="phoneno">

        <div class="form-group">
          <label for="city">City :</label>
          <select id="city" name="city" required>
            <option value="">city</option>
            <option value="U.P">U.P</option>
            <option value="Delhi">Delhi</option>
            <option value="Gururma">Gururma</option>
            <option value="Chennai">Chennai</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Punjab">Punjab</option>
          </select>
        </div>
    </header>
    <div class="form-group  profile-bio">
      <label for="district">Districts :</label>
      <select id="district" name="district" required>
        <option value="">districts</option>
        <option value="Baraily">Baraily</option>
        <option value="Agra">Agra</option>
        <option value="Mathura">Mathura</option>
        <option value="Pilibhit">Pilibhit</option>
        <option value="Chasndosi">Chasndosi</option>
        <option value="Banarsa">Banarsa</option>
      </select>
      <button type="submit" class="btn animation" name="submit" name="login" style="--i:3; --j:24">submit</button>

    </div>
    </form>
    

  </aside>


</body>

</html>